﻿
@model AboutViewModel

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>about us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- About Start -->
<div class="about-area pb-155">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_WelcomeAboutPartialView",Model.settings)

        </div>
    </div>
</div>
<!-- About End -->
<!-- Teacher Start -->
<div class="teacher-area pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/assets/img/icon/section.png" alt="title">
                    <h2>meet our teachers</h2>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("_TeacherPartialView",Model.teachers.Take(4).ToList())
    </div>
</div>
<!-- Teacher End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        @await Html.PartialAsync("_SliderTestimonialPartialView",Model.testimonials)

    </div>
</div>
<!-- Testimonial Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video">
                     @*   <div class="video-icon video-hover">
                            <a class="video-popup" href="@{
    var videoLink = Model.settings.FirstOrDefault(x => x.Key == "VideoLink")?.Value;
    if (!string.IsNullOrEmpty(videoLink))
    {
        @videoLink
    }
    }">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>notice board</h3>
                    <div class="notice-left">
                        @await Html.PartialAsync("_NoticeBoardPartialView",Model.boards)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->